$bg-primary: green;
$bg-primary: red;
/*Biến*/
@mixin border-radius($rounded: 10px) {
  border-radius: $rounded;
  -moz-border-radius: $rounded;
  -webkit-border-radius: $rounded;
}


.container {
  width: 999px;
  margin: 0 auto;

  header {
    @include border-radius(14px);
    text-align: center;
    color: $bg-primary;
    width: 300px;
    height: 100%;
    font-size: 24px;
    ul {
      & li {
        & a {
          :hover {
            background: #000;
          }
        }
      }
    }
  }
}
@warn "hihi"
