@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.container {
    width: 100%;
    background: white;
}

.content {
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr;
    font-family: "Helvetica Neue", serif;
}

.item {
    min-height: 50px;
    z-index: 1;
}

.item:nth-child(1) {
    display: grid;
    place-content: center;
}

div ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 76px;
}

div ul li {
    display: inline;
}

div ul li a {
    font-size: 24px;
    text-decoration: none;
    font-family: Unica One, serif;
    color: #000;
    font-weight: bold;
}

.select-color {
    font-family: "Unica One", sans-serif;
}

.select {
    padding-left: 63px;
}

.item:nth-child(2) {
    display: grid;
    place-content: center;
}

.item:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 22%;
}

.item:nth-child(3) img:nth-child(1) {
    margin-top: 10px;
}


.size {
    font-size: 20px;
    font-family: "Unica One", sans-serif;
}

.grid-main {
    grid-template-rows: 1fr;
    width: 200px;
}

.grid-main button {
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: 1px solid rgba(134, 131, 131, 0.4);
    background: white;
}

.grid-main button:hover {
    background: rgb(252, 247, 247)
}

.grid-main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    margin-top: 28px;
    margin-bottom: 55px;
}

.color {
    font-size: 20px;
}

.grid-color button:nth-of-type(1) {
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #B6A179;
}

.grid-color button:nth-of-type(2) {
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #272425;
}

.grid-color button:nth-of-type(3) {
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #6389CB;
}

.grid-color button:nth-of-type(4) {
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #F2C758;
}

.grid-color {
    display: flex;
    gap: 20px;
    margin-top: 28px;
}

.grid-color button:hover {
    font-size: 20px;
    cursor: pointer;
    background: #ccc0d7;
}

.men-sandals span:first-child {
    font-size: 20px;
    margin-bottom: 13px;
}

.men-sandals {
    margin-right: 81px;
}

.men-sandals span:nth-of-type(2) {
    font-size: 72px;
    margin-bottom: 24px;
    font-family: "Unica One", sans-serif;
}

.men-sandals span:last-child {
    font-size: 20px;
    opacity: 50%;
    line-height: 30px;
}

.item:nth-child(4), .item:nth-child(6) {
    padding-top: 99px;
}

.item:nth-child(7), .item:nth-child(8), .item:nth-child(9) {
    margin-top: 430px;
}

.item:nth-child(7) .pre-next {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 2%;
    place-content: center;
}

.item:nth-child(7) .prev span, .next span, .video, .add-to-cart span {
    font-family: "Unica One", sans-serif;
}

.add-to-cart span, .pre-next span, .play-video {
    font-size: 24px;
}

.add-to-cart span {
    font-weight: bold;
}

.next span, .prev span {
    margin-left: 15%;
}

.item:nth-child(8) .play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item:nth-child(9) .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.social {
    position: absolute;
    top: 706px;
    right: 10px;
    gap: 30px;
    rotate: 90deg;
}

.social img {
    rotate: -90deg;
}

.social img:not(:nth-of-type(1)) {
    margin-left: 24px;
}

.scroll::before {
    content: "SCROLL DOWN";
    position: absolute;
    top: 708px;
    rotate: 90deg;
    font-size: 24px;
    font-family: "Unica One", sans-serif;
}

.image {
    position: absolute;
    display: flex;
    top: 90%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.image img {
    object-fit: cover;
    width: 1107px;
}
