* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background: white;
    width: 100%;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid red;
}
/*Header*/
.navbar ul {
    border-top: 1px solid red;
    padding: 0;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 43px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}